@model IEnumerable<NotesApp.Models.Note>

<h2>Заметки</h2>

<form asp-action="MasterAction" method="post" enctype="multipart/form-data">
    <div class="d-flex justify-content-between mb-3">
        <a asp-action="Create" class="btn btn-primary">Создать новую заметку</a>
        <button name="action" value="DeleteSelected" id="deleteBut" type="submit" class="btn btn-danger" style="display: none;">Удалить выбранные</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)" />
                </th>
                <th>Заголовок</th>
                <th>Содержание</th>
                <th>Создано</th>
                <th>Обновлено</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedNotes" value="@note.Id" onchange="toggleDeleteButton()" />
                    </td>
                    <td>
                        <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.Id" class="text-dark text-decoration-none link-hover">
                            @(note.Title.Length > 30 ? note.Title.Substring(0, 30) + "..." : note.Title)
                        </a>
                    </td>
                    <td>@(note.Content.Length > 55 ? note.Content.Substring(0, 55) + "..." : note.Content)</td>
                    <td>@note.CreatedAt</td>
                    <td>@note.UpdatedAt</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@note.Id" class="btn btn-warning">Изменить</a>
                        <a asp-action="Delete" asp-route-id="@note.Id" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-between mb-3">
        <button name="action" value="ExportNotes" type="submit" class="btn btn-success mb-3">Экспортировать заметки</button>
        <button type="button" class="btn btn-info mb-3" onclick="document.getElementById('fileUpload').click();">Импортировать заметки</button>
        <input type="file" id="fileUpload" name="file" style="display: none;" accept=".zip,.md" onchange="this.form.submit();" />
    </div>
</form>



<script>
    function toggleSelectAll(selectAllCheckbox) {
        const checkboxes = document.querySelectorAll('input[name="selectedNotes"]');
        checkboxes.forEach((checkbox) => {
            checkbox.checked = selectAllCheckbox.checked;
        });
        toggleDeleteButton();
    }

    function toggleDeleteButton() {
        const checkboxes = document.querySelectorAll('input[name="selectedNotes"]');
        const deleteButton = document.getElementById('deleteBut');
        const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
        deleteButton.style.display = anyChecked ? 'inline' : 'none';
    }
</script>


